#The {background-color: rgb(240, 105, 105);}
.Lana {background-color: rgb(208, 239, 161);}
#Dua {background-color: rgb(208, 172, 242);}
.Img {background-color: rgb(103, 103, 233);}
#Ma {background-color: rgb(237, 237, 144);}